In [1]:
import sqlite3 as sql

create a database

In [3]:
connection=sql.connect('employee.db')
connection

creating a cursor which is use to iterate tables read,delete,update,etc operation

In [6]:
cursor=connection.cursor()

creating a table in employee.db database

In [19]:
cursor.execute('''
Create Table if not Exists employee_IT(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )
''')

##commit must be done by programmer or else you will get error
connection.commit()

querying table to fetch data

In [50]:
cursor.execute('''
Select * from employee_IT
''')

adding data to table name employee_IT

In [51]:
cursor.execute('''
Insert into employee_IT(name,age,department)
               values('meet',22,'CE')
''')

cursor.execute('''
Insert into employee_IT(name,age,department)
               values('mavani',22,'IT')
''')

cursor.execute('''
Insert into employee_IT(name,age,department)
               values('jiyan',22,'IT')
''')

connection.commit()

In [52]:
cursor.execute('''
select * from employee_IT
''')

row=cursor.fetchall()

for i in row:
    print(i)

(1, 'meet', 22, 'CE')
(2, 'mavani', 22, 'IT')
(3, 'jiyan', 22, 'IT')

In [53]:
cursor.execute('''
Update employee_IT
               set age=23
               where name='mavani'
''')

connection.commit()

In [54]:
cursor.execute('''
select * from employee_IT
''')

row=cursor.fetchall()

for i in row:
    print(i)

(1, 'meet', 22, 'CE')
(2, 'mavani', 23, 'IT')
(3, 'jiyan', 22, 'IT')

In [55]:
cursor.execute('''
Delete from employee_IT
               where name='jiyan'
''')

connection.commit()

In [76]:
cursor.execute('''
select * from employee_IT
''')

row=cursor.fetchall()

for i in row:
    print(i)

(1, 'meet', 22, 'CE')
(2, 'mavani', 23, 'IT')

In [87]:
connection=sql.connect('sales.db')

cursor=connection.cursor()

cursor.execute('''
Create Table if not Exists sales(
               name Text ,
               quantity Integer Not Null,
               date Text
               )
''')

data=[
    ('phone',2000,'25-12-2024'),
    ('laptop',5000,'25-12-2024'),
    ('tv',400,'25-12-2024'),
    ('AC',900,'25-12-2024')
]

cursor.executemany('''
Insert into sales(name,quantity,date)
               values(?,?,?)
''',data)

connection.commit()

OperationalError: database is locked

In [84]:
cursor.execute('''
select * from sales
''')

row=cursor.fetchall()

for i in row:
    print(i)

('phone', 2000, '25-12-2024')
('laptop', 5000, '25-12-2024')
('tv', 400, '25-12-2024')
('AC', 900, '25-12-2024')