In [56]:
import numpy as np
import pandas as pd
from sklearn.utils import resample

In [57]:
np.random.seed(123)

sample=1000
class_0_ratio=0.9
n_class_0=int(sample*class_0_ratio)
n_class_1=sample-n_class_0

In [58]:
n_class_0,n_class_1

(900, 100)

In [59]:
class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(size=n_class_0),
    'feature_2' : np.random.normal(size=n_class_0),
    'target' : [0]*n_class_0
})

class_2 = pd.DataFrame({
    'feature_1' : np.random.normal(size=n_class_1),
    'feature_2' : np.random.normal(size=n_class_1),
    'target' : [1]*n_class_1
})

In [60]:
class_1,class_2

(     feature_1  feature_2  target
 0    -1.085631   0.551302       0
 1     0.997345   0.419589       0
 2     0.282978   1.815652       0
 3    -1.506295  -0.252750       0
 4    -0.578600  -0.292004       0
 ..         ...        ...     ...
 895   0.238761  -0.003155       0
 896  -1.106386  -0.430660       0
 897   0.366732  -0.146416       0
 898   1.023906   1.160176       0
 899  -0.210056  -0.641512       0

 [900 rows x 3 columns],
     feature_1  feature_2  target
 0   -0.300232   0.139033       1
 1   -0.632261   0.025577       1
 2   -0.204317  -0.196443       1
 3    0.213696   1.312255       1
 4    1.033878   1.187417       1
 ..        ...        ...     ...
 95  -0.623629   0.845701       1
 96   0.239810  -1.119923       1
 97  -0.868240  -0.359297       1
 98   0.902006  -1.609695       1
 99   0.697490   0.013570       1

 [100 rows x 3 columns])

In [61]:
df=pd.concat([class_1,class_2]).reset_index(drop=True)
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [62]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

Up sampling

In [63]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [66]:
df_minority_unsample=resample(df_minority,
         replace=True,
         n_samples=len(df_majority),
         random_state=42
         )

In [72]:
df_minority_unsample.shape

(900, 3)

In [79]:
df_minority_unsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [76]:
df_unsampled=pd.concat([df_majority,df_minority_unsample])
df_unsampled.shape

(1800, 3)

down sampling

In [80]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [83]:
df_majority_unsample=resample(df_majority,
         replace=False,
         n_samples=len(df_minority),
         random_state=42
         )

In [86]:
df_majority_unsample.shape

(100, 3)

In [88]:
df_downsampled=pd.concat([df_minority,df_majority_unsample])
df_downsampled.shape

(200, 3)