In [31]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [32]:
df=pd.DataFrame(
    {'color':['blue','green','red','red','pink']}
)

In [33]:
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['color']]).toarray()

In [34]:
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [35]:
encoded_df

   color_blue  color_green  color_pink  color_red
0         1.0          0.0         0.0        0.0
1         0.0          1.0         0.0        0.0
2         0.0          0.0         0.0        1.0
3         0.0          0.0         0.0        1.0
4         0.0          0.0         1.0        0.0

In [36]:
df[df['color']=='red']

  color
2   red
3   red

In [37]:
df.head()

   color
0   blue
1  green
2    red
3    red
4   pink

In [39]:
from sklearn.preprocessing import LabelEncoder

LabelEncoder=LabelEncoder()
LabelEncoded=LabelEncoder.fit_transform(df['color'])

In [49]:
LabelEncoder.transform([['blue']])

d:\ML code\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [60]:
from sklearn.preprocessing import OrdinalEncoder

df_2=pd.DataFrame(
    {
        'size':['small','medium','large','medium','small']
    }
)

OrdinalEncoder=OrdinalEncoder(categories=[['small','medium','large']])
OrdinalEncoded=OrdinalEncoder.fit_transform(df_2[['size']])
print(OrdinalEncoded)

[[0.]
 [1.]
 [2.]
 [1.]
 [0.]]